<%= form_with model: @recipes do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :preparation_time, 'Preparation time (in hours)' %>
    <%= form.number_field :preparation_time %>
  </div>

  <div class="field">
    <%= form.label :cooking_time, 'Cooking time  (in minutes)' %>
    <%= form.number_field :cooking_time %>
  </div>

  <div class="check-field">
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.submit %>
    <%= link_to "Cancel", "", data: {
      controller: "modals",
      action: "modals#close"
    }, class: "cancel-button" %>
  </div>
<%end%>