<div class="main">
  <h2>Recipes</h2>
  <%= button_tag 'add recipe', class: "btn-add" %>

  <div class="sub-main">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe.id) do %>
        <div class="row">
          <div class="row1">
            <h3> <%= recipe.name %> </h3>
            <%= button_tag 'remove', class: "btn-remove" %>
          </div>
          <span>
            <%= recipe.description %>
          </span>
        </div>
      <%end%>
    <%end%>
  </div>
</div>