<div class="main">
  <h2>Recipes</h2>
  <div class="header-btn">
    <%= link_to 'add recipe', new_recipe_path%>
  </div>

  <div class="sub-main">
    <% @recipes.order(:created_at).each do |recipe| %>
        <div class="row">
          <div class="row1">
            <%= link_to recipe_path(recipe.id) do %>
              <h3> <%= recipe.name %> </h3>
            <%end%>
            <%= link_to 'remove', recipe_path(recipe.id), method: :delete,  class: "btn-remove" %>
          </div>
          <span>
            <%= recipe.description %>
          </span>
        </div>
    <%end%>
  </div>
</div>