<div class="modal">
  <h1>New Recipe</h1>

  <!---- the form ----->
  <%= form_with model: @recipe do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :preparation_time, 'Preparation time (in hours)' %>
      <%= form.number_field :preparation_time %>
    </div>

    <div class="field">
      <%= form.label :cooking_time, 'Cooking time (in minutes)' %>
      <%= form.number_field :cooking_time %>
    </div>

    <div class="check-field">
      <%= form.label :public %>
      <%= form.check_box :public %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <%= form.submit "Create recipe", disable_with: "please wait...", class: "btn-submit" %>
  <%end%>
  <!---- end of form ----->
</div>