<div class="details">
  <div class="btn-back">
    <%= link_to 'Back', recipes_path %>
  </div>
  <h2> <%= @recipe.name %> </h2>
  <div class="det">
    <div class="det-row">
      <span>Preparation time: <%= @recipe.preparation_time %> hours </span>
      <span>Cooking time: <%= @recipe.cooking_time %> minutes </span>
      <span> <%= @recipe.description %> </span>
    </div>
    <%= render partial: 'recipes/public_recipe', locals: { recipe: @recipe } %>
  </div>

  <div class="options">
    <%= link_to "Generate shopping list", modal_recipe_path, data: { turbo_frame: 'modal' }, class: "btn-generate" %>
    <%= link_to "Add ingredient", "", class: "btn-generate" %>
  </div>

  <div class="table-data">
    <table class="data-content">
      <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @recipe.recipe_foods.each do |r| %>
        <tr>
          <td> <%= r.food.name %> </td>
          <td> <%= r.quantity %><%= r.food.measurement_unit %> </td>
          <td> $<%= r.food.price %> </td>
          <td>
            <div class="actions">
              <span> <%= link_to "Modify", "" %> </span>
              <span> <%= link_to "Remove", "/recipe/#{r.id}/recipe_foods/#{r.id}", method: :delete %> </span>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>